<div class='body-bg clearfix'><title>{{title}}</title>
<div class="col-md-offset-7 col-md-5 col-sm-offset-6 col-sm-6  col-xs-12 no-padding">
  <div class="login-register-box clearfix">
    <div class="middle-login-box">
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="login-page-logo text-center">
	  <img src="assets/image/logo-bg-pattern.png" class="img-responsive-chng"/>
	</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="login-register-div">
    <div class="login-tab">
		  <ul class="nav nav-tabs">
			<li class="active">
			<a href="#Login">Super Admin </a>
			</li>
		  </ul>
		  <div class="tab-content">
			<div id="Login" class="tab-pane fade in active">
			<div *ngIf="loader" class="loaderCntr" style="display: block;">
				<div class="loading-screen loading-screen--white"> <span class="preloader--center preloader--lg icon-spin"> <i class="udi udi-circle-loader"></i> </span> </div>
			</div>
			 <form (ngSubmit)="login()" name="loginForm" novalidate>
                            <fieldset>
                                <div class="form-group">
                                    <input [(ngModel)]="user.email" class="form-control login email"  placeholder="E-mail" type="email" name="email" required>
                                    <span class="error"></span> </div>
                                <div class="form-group">
                                    <input [(ngModel)]="user.password" class="form-control login" placeholder="Password" type="password"  name="password" required>
                                    <span class="error"></span>
                                </div>
                                <span style="text-align: center;color: #a94442">{{errorMsg}}</span>
                                <button type="submit" class="btn btn-lg btn-success login btn-block">Login </button>
                            </fieldset>
                        </form>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
  </div>
</div>
</div>